{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="static/css/home.css">
<div class="home_p row d-flex p-5">
    <div class="text col-md-6  ">
        <h1>At our place -</h1>
        <h1>tasty and cozy</h1>
        <p>Delicious food,great company, and a creative atmosphere
            all in one place for an ideal time spent with family and friends at our restaurant
        </p>
        <button class="bt">Book a table</button>
    </div>
    <div class="h_image  col-md-6 ">
        <img class="w-100" src="static/images/food.jpg" alt="">

    </div>
</div>
{% endblock content %}